# UniFi Configuration
UNIFI_CONTROLLER_IP=10.20.40.1
UNIFI_API_KEY=FZNVhuLH1SgnfjpYbBxMI5Pn29zQk82i
UNIFI_SITE_ID=

# Example values (replace with your actual values):
# UNIFI_CONTROLLER_IP=10.20.40.1
# UNIFI_API_KEY=88f7af54-98f8-306a-a1c7-c9349722b1f6
# UNIFI_SITE_ID=88f7af54-98f8-306a-a1c7-c9349722b1f6
FLASK_SECRET_KEY=generate-with-python-c-import-secrets-print-secrets-token-hex-32
